<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}  Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   
</head>
<body>
    <h1>TEST FULL STACK PYTHON</h1>

    <section>
        <div class="options"><a href="/empleados/lista"><p> empleados</p></a></div>
        <div class="options"><a href="/empleados/lista"><p>Actualizar empleado</p></a></div>
        <div class="options"><a href="/empleado/nuevo"><p>Añadir empleado</p></a></div>
        <div class="options"><a href="/empleados/lista"><p>Eliminar empleado</p></a> </div>
    </section>

</body>
</html>